<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">

<title th:text="#{page.title.home}">home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<base href="/home" />

<!-- Custom fonts for this template-->
<link href="../vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>
<body id="page-top" data-ng-app="giphyApp" >
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="layout :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="layout :: topbar"></nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <h1 sec:authorize="isAnonymous()" th:text="#{text.welcome}">Welcome</h1>

                    <div sec:authorize="isAuthenticated()" data-ng-view></div>
                    <div sec:authorize="isAnonymous()">
                        <hr />
                        <h3>Welcome to the Giphy Search App</h3>
                        <div>
                            This app allows users to search for gifs using the GIPHY API. 
                            Users can search for gifs, save to their favorites, and organize their favorites into different categories.
                        </div>
                        <div>
                            Please <a href="login.html" th:href="@{/login}">login</a> or <a href="register.html" th:href="@{/register}">register</a> to start using this app.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script sec:authorize="isAuthenticated()" >
    // globals for spring security
    var token = $("meta[name='_csrf']")[0].content;
    var username = $("#username").text();
    </script>
    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>
    <script sec:authorize="isAuthenticated()" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.6/angular.min.js" th:src="@{/webjars/angularjs/1.7.6/angular.min.js}"></script>
    <script sec:authorize="isAuthenticated()" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.6/angular-route.min.js" th:src="@{/webjars/angularjs/1.7.6/angular-route.min.js}"></script>
    <script sec:authorize="isAuthenticated()" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.6/angular-sanitize.min.js" th:src="@{/webjars/angularjs/1.7.6/angular-sanitize.min.js}"></script>

    <script sec:authorize="isAuthenticated()" src="../app/scripts/giphyApp.js" th:src="@{/app/scripts/giphyApp.js}"></script>
    <script sec:authorize="isAuthenticated()" src="../app/services/giphyApi.js" th:src="@{/app/services/giphyApi.js}"></script>
    <script sec:authorize="isAuthenticated()" src="../app/controllers/searchController.js" th:src="@{/app/controllers/searchController.js}"></script>
    <script sec:authorize="isAuthenticated()" src="../app/controllers/trendingController.js" th:src="@{/app/controllers/trendingController.js}"></script>
    <script sec:authorize="isAuthenticated()" src="../app/controllers/searchResultsController.js" th:src="@{/app/controllers/searchResultsController.js}"></script>
    <script sec:authorize="isAuthenticated()" src="../app/controllers/viewImageController.js" th:src="@{/app/controllers/viewImageController.js}"></script>
    <script sec:authorize="isAuthenticated()" src="../app/controllers/tagsController.js" th:src="@{/app/controllers/tagsController.js}"></script>
</body>
</html>