<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">

<title th:text="#{page.title.home}">Layout Fragments</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Custom fonts for this template-->
<link href="../vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li><a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html" th:href="@{/home}"> <span class="sidebar-brand-icon rotate-n-15"> <i class="fas fa-laugh-wink"></i>
                </span> <span class="sidebar-brand-text mx-3"> Giphy Search </span>
            </a></li>

            <!-- Divider -->
            <li><hr class="sidebar-divider my-0"></li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item"><a class="nav-link" href="index.html"> <i class="fas fa-fw fa-chart-line"></i> <span>Trending</span></a></li>

            <!-- Divider -->
            <li><hr class="sidebar-divider"></li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item collapsed"><a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages"> <i class="far fa-fw fa-star"></i> <span>Favorites</span>
            </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Favorites:</h6>
                        <a class="collapse-item" href="#">Favorites</a>
                        <div class="collapse-divider"></div>
                        <div data-ng-controller="tagsController">
                            <h6 class="collapse-header">Tags:</h6>
                            <a class="collapse-item" href="#" data-ng-click="addTag()">Add Tag</a>
                            <a data-ng-repeat="tag in tags" class="collapse-item" href="#" data-ng-href="/home/tags/{{tag}}">{{tag}}</a>
                        </div>
                    </div>
                </div></li>

            <!-- Divider -->
            <li><hr class="sidebar-divider"></li>

            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center"><div class="text-center d-noned-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div></li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group" data-ng-controller="searchController">
                            <input type="text" data-ng-keypress="$event.keyCode == 13 && executeSearch()" data-ng-model="q" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" data-ng-click="executeSearch()">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <li class="topbar-divider d-none d-sm-block"></li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow"><button class="btn nav-link dropdown-toggle btn-link" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="username" class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name">Sam Foster</span> <i class="fas fa-fw fa-user"></i>
                            </button> <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn dropdown-item btn-link">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                    </button>
                                    <input type="hidden" name="X-CSRF-TOKEN" th:value="${_csrf.token}" />
                                </form>
                            </div></li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <h1>Welcome</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>

</body>
</html>